  <div id="toolbar" class="toolbar">
		<ul class="leftbox"></ul>
<!--			
		<ul class="rightbox">
			<li class="tb-qentry"><a href="#">Quick Entry<img src="gui/blank.gif" alt="" class="icon" /></a></li>
		  <li class="tb-tags"><a href="#">Tags<img src="gui/blank.gif" alt="" class="icon" /></a></li>
		</ul>
-->
		<ul class="centerbox">
			<li class="tb-show-in-next"><a href="#">Show in List<img src="gui/blank.gif" alt="" class="icon" /></a></li>
		</ul>		
  </div>