  <div id="toolbar" class="toolbar">
		<ul class="leftbox">
		  <li class="tb-trash"><a href="#">Empty Trash<img src="gui/blank.gif" alt="" class="icon" /></a></li>
		</ul>
<!--			
		<ul class="rightbox">
			<li class="tb-qentry"><a href="#">Quick Entry<img src="gui/blank.gif" alt="" class="icon" /></a></li>
		  <li class="tb-tags"><a href="#">Tags<img src="gui/blank.gif" alt="" class="icon" /></a></li>
		</ul>
-->
		<ul class="centerbox"></ul>		
  </div>