/* =RESET - YUI v2.4.0 & Eric Mayer
----------------------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,
html,span,applet,object,iframe,a, abbr, acronym, address, big, cite, code, del, dfn, em, font, 
img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,label, table, 
p,blockquote, th, td, caption, tbody, tfoot, thead, tr 
{margin:0;padding:0;outline:0;font-size:100%;vertical-align:baseline;}
/* body { 	line-height: 1;} */
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
blockquote, q {	quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}
ins {	text-decoration: none;}
del {	text-decoration: line-through;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
li,ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
abbr,acronym {border:0;font-variant:normal;}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
textarea{overflow:auto; /* resize: none; */ }
legend{color:#000;}
:focus {outline: 0;}
* {outline: none;}

body {
  background:transparent url('/images/temp_top_bg.png') repeat-x top left;
  height:600px;
}

.wrapper {
  width:800px;
  margin:0 auto;
  background:transparent url('/images/temp_main_bg.png') no-repeat top left;
  height:600px;
  position: relative;
}

.login-form {
  position: absolute;
  right:70px;
  top:175px;
  width:270px;
}

.login-form #login,.login-form #password {
  width:250px;
  font:bold 12px/18px tahoma;
  padding:5px;
}

.login-form label {
  font:8pt/14px "lucida grande", "trebuchet ms", "tahoma";
  color:#343434;
  text-shadow:1px 1px #EEE;
}

.login-form .remeber-btn {
  float:right;  
  margin:10px 10px 0 0;
}

.login-form .remeber-btn input {
  position: relative;
  top:3px;
}

.login-form .submit-btn {
  float:left;
}

.login-form .submit-btn input {
  font:10pt/14px "lucida grande", "trebuchet ms", "tahoma";  
  margin-top:10px;
  padding:2px 20px;
}

.signup-btn {
  height:56px;
  position:absolute;
  right:127px;
  top:356px;
  width:218px;
}

.signup-btn a {
  display: block;
  height: 100%;
  width: 100%;
  xborder:1px solid red;
}

.signup-btn a span {  display: none;}


.flash-message { 
  text-align:center;
  width:400px;
  background-color:#E45D2E;
  color:white;
  font:bold 10pt/14px "lucida grande", "trebuchet ms", "tahoma";  
  padding:5px 20px;
  margin:0px auto;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0px 0px 2px #666;
  -moz-box-shadow: 0px 0px 2px #666;  
  position: relative;
  top:5px;
}

#users {
  background:none;
  background-color:#D5E9ED;  
  height:100%;
}

#users .wrapper {
  background:none;
  width:600px;
}

.signup-form {
  margin:0 auto;
  padding:40px 50px 0;  
  font:bold 11pt/14px "lucida grande", "trebuchet ms", "tahoma";  
}

.signup-form p {
  margin-bottom:8px;
  position: relative;
}

.signup-form label {
  font:10pt/13pt "lucida grande", "trebuchet ms", "tahoma";  
  text-shadow:1px 1px #EEE;  
  position: absolute;
  top:23px;
}

.signup-form #user_login, .signup-form #user_email, .signup-form #user_password, .signup-form #user_password_confirmation {
  width:320px;
  padding:8px;
  position: relative;
  left:140px;
}   

.signup-form h1 {
  font:bold 26pt/30pt "lucida grande", "trebuchet ms", "tahoma";  
  text-shadow:1px 2px #FFF;  
  color:#444;
  text-align: center;
  margin-bottom:20px;
}

.signup-submit input {
  float:right;
  margin:10px 22px 0 0;
  padding:5px 25px;
}

.signup-logo {
  height:85px;
  background:transparent url('/images/temp_main_bg.png') no-repeat top center;
}

.signup-logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.signup-logo a span { display: none;}


.fieldWithErrors input {
  background-color:#ffdbda;
}
.errorExplanation {
  font-size:10pt;
  line-height:14pt;  
}
.errorExplanation h2 {

}
.errorExplanation li {

}

