/* =TAG-BAR
----------------------------------------------------------------------------*/
#tagbar {
  border-bottom:1px solid #808080;
  height:24px;line-height:24px;
  background:transparent url('/gui/sp.png') repeat-x 0 -340px;
  overflow:hidden;
}
.hidden-tagbar {display: none !important;}

#tagbar ul {padding:0 7px;}
#tagbar ul li a {color:#333;}
#tagbar ul li.selected a {color:#fafafa;}
#tagbar ul li:hover a {color:#fafafa;}
  
#tagbar ul li {
  display: inline;
  padding:1px 5px;
  font-weight:bold;
  text-shadow:0 1px 1px rgba(255, 255, 255, 0.8);
  color:#333;
  height:15px;
}

#tagbar ul li.selected, #tagbar ul li.selected:hover {
  color:#fafafa;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
  background:transparent url('/gui/sp.png') 0 -875px;  
  border:1px solid #8591a5;
  -moz-border-radius:9px;
  -webkit-border-radius:8px;
  border-radius:8px;    
}

#tagbar ul li:hover {
  color:#fafafa;
  text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
  background:transparent url('/gui/sp.png') 0 -875px;  
  -moz-border-radius:8px;
  -webkit-border-radius:7px;
  border-radius:7px;  
  cursor:pointer;  
}

#tagbar .due-filter {
  width:37px;
  height:24px;
  display: block;
  float:left;
  margin-right:8px;
  background:transparent url('/gui/sp2.png') 0 0px;  
}

#tagbar .due-filter:active {   background:transparent url('/gui/sp2.png') 0 -24px;  }
#tagbar .due-filter.active, #tagbar .due-filter.active:active {   background:transparent url('/gui/sp2.png') 0 -48px;  }
#tagbar .due-filter span { display: none;}