<div class="guide">

  <div class="guide-inbox">
    <div class="icon inbox"></div>
    <div class="text">
      <p>Use the inbox to collect To Do items when you are not yet ready to decide where to put them.</p>
      <p>The inbox is the natural destination for To Do items that you enter in the Quick Entry dialog.</p>
    </div>  
  </div>
  
  <div class="guide-today">
    <div class="icon today"></div>
    <div class="text">
      <p>Use Today to create a list of all To Do items you intend to complete today.</p>
      <p>The number of unfinished To Do items apears next to the Today icon.</p>
    </div>
  </div>
  
  <div class="guide-next">      
    <div class="icon next"></div>
    <div class="text">
      <p>The Next list contains all upcoming To Do items.</p>
      <p>Both single To Do items and those from active projects are displayed here.</p>
    </div>
  </div>

  <div class="guide-scheduled">      
    <div class="icon scheduled"></div>
    <div class="text">
      <p>Use Scheduled for repeating To Do items or those you want to start at a later date.</p>
      <p>Projects can also be scheduled.</p>
    </div>
  </div>
    
  <div class="guide-someday">  
    <div class="icon someday"></div>
    <div class="text">
      <p>Use Someday for To Do items you cannot comit to right now, but might become interesting sometime in the future.</p>
      <p>You can put projects or areas into this list as well.</p>
    </div>
  </div>

  <div class="guide-projects">  
    <div class="icon projects"></div>
    <div class="text">
      <p>The Projects list shows all your projects, active or inactive.</p>
      <p>Use projects to accomplish results that take more than one step.</p>
    </div>      
  </div>

  <div class="guide-logbook">      
    <div class="icon logbook"></div>
    <div class="text">
      <p>Completed To Do items are archived in the Logbook.</p>
      <p>Logging occurs in regular intervals or can be triggered manually by clicking on the Log Completed icon on the toolbar.</p>
    </div>
  </div>  

  <div class="guide-trash">      
    <div class="icon trash"></div>
    <div class="text">
      <p>The Trash holds previously deleted To Do items.</p>
      <p>You can empty the Trash by clicking on the Empty Trash icon on the toolbar below.</p>
    </div>
  </div>  
  
</div>