<li id="p-<%= item.id %>" class="droppable">
  <div class="drop-highlight"></div>
  <a class="row" href="<%= project_path(item) %>">
      <img class="icon project" src="/gui/blank.gif" alt="icon" />
      <span class="title"><%= item.title  %></span>
  </a>
</li>